#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.grand-child {
  border: 1px solid #ccc;
}

.list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

.list-item {
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}